*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}
@font-face{
	font-family: 'KorolevBold';
  src: url(assets/fonts/KorolevBold.woff) format("woff");
}
@font-face{
	font-family: 'KorolevHeavy';
  src: url(assets/fonts/KorolevHeavy.woff) format("woff");
}
@font-face{
	font-family: 'KorolevMedium';
  src: url(assets/fonts/KorolevMedium.woff) format("woff");
}
header{
	width: 100%;
	height: 100vh;
	/*display: flex;*/
	background-image: url(assets/fundo.png);
	background-size: cover;
}
.topo{
	background-size: cover;
}
@media(max-width:425px){
	header{
		height:90vh;
	}
}
.containerMenu__block{
	width: 20%
	height: 20vh;
	background-color: black;
	position: fixed;
	top: 120px;
}
.containerMenu__blockimage{
	width: 280px;
	height: 230px;
}
.containerMenu__blocknav{
	width: 20%;
	height: 200px;
	flex-direction: column;
	padding-top: 5vh;
	padding-left: 8vh;
}
.containerMenu__blocklinks{
	margin-top: 20px;
	font-size: 25px;	
}
.containerHeader__blockparagrafo{
	width: 41vw;
	height: 30vh;
	align-self: center;
	position: relative;
	top: 47%;
	left: 20%;
/*	background-color: yellow;*/
}
.containerHeader__paragrafo{
	font-size: 1.3em;
	text-align: left;
}
.containerImagesPrincipal{
	width:100%;
	display: flex;
	justify-content: flex-end;
}
.containerImagesPrincipal__block{
	width:68%;
	display: flex;
	justify-content:space-around;
	flex-wrap:wrap;
	position: relative;
	bottom:110px;
	right:50px;
}
@media(max-width:800px){
	.containerImagesPrincipal__block{
		width:90%;
		/*flex-direction: column;*/
	}
}
@media(max-width:526px){
	.containerImagesPrincipal__block{
		width: 94%;
    	left:0px;
	}
}
.containerImagesPrincipal__blockImage{
	width:260px;
	height:190px;
	border-radius:10%;
}
@media(max-width:800px){
	.containerImagesPrincipal__blockImage{
		width: 28vw;
		margin:5px;
	}
}
@media(max-width:526px){
	.containerImagesPrincipal__blockImage{
		width:88%;
		height:50vh;
	}	
}
@media(max-width: 325px){
	.containerImagesPrincipal__blockImage{
		height:250px;
	}
}
.containerfirstmain{
	width:100%;
	display: flex;
	flex-direction:column;
	align-items:center;
}

.containerfirstmainBlocktitle{
	width:35%;
	line-height: 200%;
	font-size:28px;
	font-family: KorolevHeavy;
}
@media(max-width:800px){
	.containerfirstmainBlocktitle{
		width:51%;
		font-size:25px;
	}
}
@media(max-width:472px){
	.containerfirstmainBlocktitle{
		width:51%;
		font-size:25px;
	}
}

.containerfirstmain__block{
	width:70%;
	display: flex;
	justify-content:space-around;
	flex-wrap: wrap;
	margin-left:25%;
	margin-top: 4%;
}
@media(max-width:768px){
	.containerfirstmain__block{
		width:78%;
		margin-left:0;
	}
}
.containerfirstmain__blockSubBlock{
	width:21%;
	height:25vh;
	display: flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;
	line-height: 400%;
}
@media(max-width:768px){
	.containerfirstmain__blockSubBlock{
		width:32%;
	}
}
@media(max-width: 520px){
	.containerfirstmain__blockSubBlock{
		width:50%;
		height: auto;
	}
}
@media(max-width:325px){
	.containerfirstmain__blockSubBlock{
		line-height:200%;
	}
}
.containerfirstmain__blockImage{
	width: 80px;
    height: 81px;
}
.containerfirstmain__blockParagraphs{
	font-size:16px;
	font-family: KorolevBold;
}
@media(max-width:325px){
	.containerfirstmain__blockParagraphs{
		font-size: 15px;
	}
}
.containersecondmain{
	width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 4%;
}
.containersecondmainBlock{
	width: 75%;
    height: 330px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 49px 64px 26px 70px;
    background-color: #006C1C;
}
@media(max-width:900px){
	.containersecondmainBlock{
		padding:40px 64px 0px 30px;
	}
}
@media(max-width:800px){
	.containersecondmainBlock{
		width: 89%;
	}
}
@media(max-width:752px){
	.containersecondmainBlock{
		width: 100%;
    	align-items: center;
	}
}
@media(max-width:629px){
	.containersecondmainBlock{
		height:409px;
		flex-direction:column;
		padding:37px;
	}
}
.containersecondmainBlock__subBlock{
	width: 36%;
    margin-top:3%;
}
@media(max-width:629px){
	.containersecondmainBlock__subBlock{
		width: 100%;
    	margin-top: 0;
	}
}
@media(max-width:350px){
	.containersecondmainBlock__subBlock{
		width:97vw;
	}
}
.containersecondmainBlock__subBlockTitle{
	font-size: 35px;
	font-family:KorolevHeavy;
	color: #FFFF00;
}
.containersecondmainBlock__subBlockParagraph{
	font-size: 18px;
	font-family:KorolevMedium;
	color:#fff;
	line-height: 140%;
    margin-top: 23px;
}
@media(max-width:922px){
	.containersecondmainBlock__subBlockParagraph{
		width:100%;
		font-size: 16px;
	}
}
@media(max-width:752px){
	.containersecondmainBlock__subBlockParagraph{
	font-size: 15px;
	}
}
@media(max-width: 320px){
	.containersecondmainBlock__subBlockParagraph{
	font-size: 17px;
	}
}
.containersecondmain__image{
	width: 365px;
    height: 313px;
    border-radius: 8%;
    border: solid 11px #fff;
    position: relative;
    top: 4%;
}
@media(max-width: 900px){
	.containersecondmain__image{
		left: 9%;
    	top: 10%;
	}
}
@media(max-width: 629px){
	.containersecondmain__image{
		width: 400px;
    	height: 254px;
    	left: 0;
	}
}
@media(max-width: 425px){
	.containersecondmain__image{
		width: 339px;
    	height: 254px;
	}
}
@media(max-width: 350px){
	.containersecondmain__image{
	width: 295px;
    height: 218px;
	}
}
.containerParceiros{
	width: 100%;
	display:flex;
	align-items:center;
	flex-direction: column;
	padding: 142px 250px 0 0;
	/*background-color: yellow;*/
}

.containerParceirosTitle{
	width:20%;
	height:80px;
	font-size:33px;
	font-family:KorolevHeavy;
}
.containerParceiros__Block{
	width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 371px;
}
@media(max-width:700px){
	.containerParceiros__Block{
		width:297px;
		margin-left: 231px;
	}
}
.containerParceiros__Block__subBlock{
	width: 15vw;
	height:189px;
	font-size: 18px;
	font-family:KorolevBold;
	text-align: center;
}

@media(max-width:700px){
	.containerParceiros__Block__subBlock{
		width:137px;
		font-size: 15px;
	}
}
@media(max-width:620px){
	.containerParceiros__Block__subBlock{
		width:114px;
	}
}
@media(max-width:477px){
	.containerParceiros__Block__subBlock{
		width: 50%;
    	height: auto;
	}
}
.containerParceiros__image{
	width: 100px;
	height: 100px;
}
