*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}
@font-face{
	font-family: 'KorolevBold';
  src: url(assets/fonts/KorolevBold.woff) format("woff");
}
@font-face{
	font-family: 'KorolevHeavy';
  src: url(assets/fonts/KorolevHeavy.woff) format("woff");
}
@font-face{
	font-family: 'KorolevMedium';
  src: url(assets/fonts/KorolevMedium.woff) format("woff");
}
header{
	width: 100%;
	height: 100vh;
	/*display: flex;*/
	background-image: url(assets/fundo.png);
	background-size: cover;
}
.topo{
	background-size: cover;
}
@media(max-width:425px){
	header{
		height:90vh;
	}
}
.containerMenu__block{
	/*width: 20%*/
	height: 20vh;
	/*background-color: black;*/
	position: fixed;
	top: 120px;
}
.containerMenu__blockimage{
	/*width: 280px;*/
	height: 230px;
}
.containerMenu__blocknav{
	/*width: 20%;*/
	height: 200px;
	flex-direction: column;
	padding-top: 5vh;
	padding-left: 8vh;
}
.containerMenu__blocklinks{
	margin-top: 20px;
	font-size: 25px;	
}
.containerHeader__blockparagrafo{
	width: 41vw;
	height: 30vh;
	align-self: center;
	position: relative;
	top: 47%;
	left: 26%;
}
.containerHeader__paragrafo{
	font-size: 1.3em;
	text-align: left;
}
.containerImagesPrincipal{
	display: flex;
	justify-content: flex-end;
}
.containerImagesPrincipal__block{
	width:70%;
	display: flex;
	justify-content:space-between;
	align-items: flex-start;
	flex-wrap:wrap;
	position: relative;
	bottom:87px;
	right:50px;
}
@media(max-width:800px){
	.containerImagesPrincipal__block{
		width: 90%;
    	right: 26px;
	}
}
@media(max-width:526px){
	.containerImagesPrincipal__block{
    	left:0px;
	}
}
.containerImagesPrincipal__blockImage{
	width:31%;
	border-radius:10%;
}
@media(max-width:526px){
	.containerImagesPrincipal__blockImage{
		width:90%;
		margin:8px;
	}	
}
.containerfirstmain{
	display: flex;
	flex-direction:column;
	align-items:center;
}
.containerfirstmainBlocktitle{
	width:35%;
	font-size:28px;
	font-family: KorolevHeavy;
}
@media(max-width:800px){
	.containerfirstmainBlocktitle{
		width:51%;
		font-size:25px;
	}
}
@media(max-width:472px){
	.containerfirstmainBlocktitle{
		width:51%;
		font-size:25px;
	}
}
.containerfirstmain__block{
	width:70%;
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;
	margin-left:25%;
	margin-top: 4%;
}
@media(max-width:768px){
	.containerfirstmain__block{
		justify-content:space-around;
		margin-left:0;
	}
}
.containerfirstmain__blockSubBlock{
	width:21%;
	height:169px;
	display: flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;
}
@media(max-width: 520px){
	.containerfirstmain__blockSubBlock{
		width:50%;
		height:128px;
	}
}
.containerfirstmain__blockImage{
	width: 80px;
}
.containerfirstmain__blockParagraphs{
	font-size:15px;
	font-family: KorolevBold;
}
.containersecondmain{
    display: flex;
    justify-content: flex-end;
    margin-top: 4%;
}
.containersecondmainBlock{
	width: 75%;
    height: 330px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding:49px 14px 26px 70px;
    background-color: #006C1C;
}
@media(max-width:900px){
	.containersecondmainBlock{
		padding:40px 64px 0px 30px;
	}
}
@media(max-width:768px){
	.containersecondmainBlock{
		width: 100%;
    	align-items: center;
	}
}
@media(max-width:629px){
	.containersecondmainBlock{
		height:409px;
		flex-direction:column;
		padding:37px;
	}
}
.containersecondmainBlock__subBlock{
	width: 36%;
    margin-top:2%;
}
@media(max-width:629px){
	.containersecondmainBlock__subBlock{
		width:80%;
    	margin-top: 0;
	}
}
@media(max-width:350px){
	.containersecondmainBlock__subBlock{
		width:100%;
	}
}
.containersecondmainBlock__subBlockTitle{
	font-size: 35px;
	font-family:KorolevHeavy;
	color: #FFFF00;
}
.containersecondmainBlock__subBlockParagraph{
	font-size: 18px;
	font-family:KorolevMedium;
	color:#fff;
	line-height: 140%;
    margin-top: 23px;
}
@media(max-width:922px){
	.containersecondmainBlock__subBlockParagraph{
		font-size: 15px;
	}
}
.containersecondmain__image{
	width: 60%;
    height: 313px;
    border-radius: 8%;
    border: solid 11px #fff;
    position: relative;
    top: 4%;
}
@media(max-width: 900px){
	.containersecondmain__image{
		left: 9%;
    	top: 10%;
	}
}
@media(max-width: 629px){
	.containersecondmain__image{
		width:90%;
    	height:254px;
    	left: 0;
	}
}
@media(max-width: 350px){
	.containersecondmain__image{
	width: 295px;
    height: 218px;
	}
}
.containerParceiros{
	width:100%;
	display:flex;
	align-items:center;
	flex-direction: column;
	padding: 142px 250px 0 0;
}
@media(max-width:768px){
	.containerParceiros{
		padding: 142px 164px 0 0;
	}
}
.containerParceirosTitle{
	width:24%;
	height:80px;
	font-size:33px;
	font-family:KorolevHeavy;
}
.containerParceiros__Block{
	width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 371px;
}
@media(max-width:768px){
	.containerParceiros__Block{
		width:100%;
		margin-left: 191px;
	}
}
@media(max-width:375px){
	.containerParceiros__Block{
		margin-left: 115px;
	}
}
.containerParceiros__Block__subBlock{
	width:15vw;
	height:189px;
	font-size: 18px;
	font-family:KorolevBold;
	text-align: center;
}
@media(max-width:768px){
	.containerParceiros__Block__subBlock{
		width:152px;
	}
}
@media(max-width:468px){
	.containerParceiros__Block__subBlock{
		width:102px;
		font-size: 15px;
	}
}
@media(max-width:375px){
	.containerParceiros__Block__subBlock{
		width:71px;
		font-size: 13px;
	}
}
@media(max-width:320px){
	.containerParceiros__Block__subBlock{
		width:53px;
	}
	.paragraphparceiros{
		width: 33vw;
	}
}
.containerParceiros__image{
	width: 100px;
	height: 100px;
}
.containerfooter{
	width:100%;
	display:flex;
	align-items:flex-end;
	flex-direction:column;
}
.containerfooter__section{
	width: 75%;
	height:50vh;
	display:flex;	 
	background-color:#00C733; 
}
.containerfooter__block{
	width: 100%;
	display:flex;	
	justify-content:space-around;
	align-items:center;
	justify-content: center;
	position:relative;
	top: 40px;
}
.containerfooter__blockcontatos{
	width: 30vw;
	height:40vh;
	display:flex;
	flex-direction:column;
}
.containerfooter__h1{	
	font-size:25px;
	color:yellow;
	font-family:KorolevHeavy;
}
.endereco{
	width:200px;
}
 .paragrafo {
 	color:white;
 	padding-top:3vh;
 	font-size:15px;
 	font-family: 'KorolevMedium';
 }
.paragrafoo{
	color: white;
	font-family: 'KorolevMedium';
}
.containerfooter__div{
	width:30%;
	height:50vh;
	display:flex;
	justify-content:
}
.containerfooter__divimagemcriança{
	width:330px;
	height:220px;
	border-radius:7%;
	margin-top: 6px;
}
.containerfooter__divimg{
	width: 350px;
	height: 230px;
	display:flex;
	justify-content:center;
	margin-top: -65px;
	border-radius:7%;
	background-color:white;
} 
.imgfootervnw{
	width: 50px;
	height: 40px;
	padding: 5px;
}
.divimgfootervnw{
	width:100%;
	height:10vh;
	display:flex;
	justify-content: center;
	align-items: center;
}
.footerp{
	font-size:10px;
}
@media (max-width: 768px){
	.containerfooter__section{
		width: 100%;
	}
	.containerfooter__block{
		flex-wrap: wrap-reverse;
	}	
	.containerfooter__divimagemcriança{
		width: 330px;
		height: 215px;
	}
}
@media (max-width: 604px){

}
@media (max-width: 500px){
	.containerfooter__section{
		width: 100%;
		height: 600px;
	}
	.containerfooter__block{
		flex-wrap: wrap-reverse;
	}
}
